{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <h4 class="text-center">
            Usuario
            <small>{% if Usuario %}Editar{% else %}Nuevo{% endif %}</small>
        </h4>
        <form class="form" method="post" action="{% if Usuario %}{{ path('usuario_editar',{ 'id': Usuario.id}) }}{% else %}{{ path('usuario_nuevo') }}{% endif %}">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input type="text" maxlength="100" class="form-control" name="nombre" required value="{% if Usuario %}{{ Usuario.nombre }}{% else %}{{ app.request.get('nombre')}}{% endif %}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Apellido</label>
                    <input type="text" maxlength="100" class="form-control" name="apellido" required value="{% if Usuario %}{{ Usuario.apellido }}{% else %}{{ app.request.get('apellido')}}{% endif %}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" maxlength="180" class="form-control" name="email" required value="{% if Usuario %}{{ Usuario.email }}{% else %}{{ app.request.get('email')}}{% endif %}" {% if Usuario %}readonly{% endif %}/>
                </div>
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select class="form-control" name="rol">
                        <option value="ROLE_USER" {% if Usuario and Usuario.roles[0] == 'ROLE_USER' %}selected{% endif %}>Usuario</option>
                        <option value="ROLE_SUPER_ADMIN" {% if Usuario and Usuario.roles[0] == 'ROLE_SUPER_ADMIN' %}selected{% endif %}>Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label">Contraseña</label>
                    <input type="password" name=password class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label">Repita contraseña</label>
                    <input type="password" name=passwordConfirm class="form-control" id="inputPasswordConfirm" placeholder="Password" autocomplete="off"/>
                </div>
                <div class="form-group text-right">
                    <a href="{{ url("usuario_listado") }}" class="btn btn-secondary float-left">Listado</a>
                    {% if Usuario %}
                        <button type="button" class="btn btn-danger" onclick="confirmarEliminar()">Eliminar</button>
                    {% endif %}
                    <input class="btn btn-success  " type="submit" value="Guardar" name="accion"/>
                </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {% if Usuario %}
        <script>
            function confirmarEliminar() {
                bootbox.confirm({
                    message: "Se eliminará el elemento seleccionado. ¿Desea continuar?",
                    buttons: {
                        confirm: {
                            label: 'Si',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            window.location="{{ path('usuario_eliminar', {'id' : Usuario.id}) }}";
                        }
                    }
                });
            }
        </script>
    {% endif %}
    <script>
        $(function() {
            $('.selector-multiple').select2({
                closeOnSelect: false,
                language: "es",
                theme: "bootstrap4"
            });
            $('input[name="usuario"]').on('keypress', function(e) {
                if (e.which == 32)
                    return false;
            });
        });
    </script>
    <script>
        var password = document.getElementById("inputPassword")
            , confirm_password = document.getElementById("inputPasswordConfirm");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Las claves no coinciden");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}