{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <h4 class="text-center">
            Cambiar clave
        </h4>
        <form class="form" method="post">
                <div class="form-group">
                    <label for="inputPassword" class="control-label">Contraseña</label>
                    <input type="password" name=password class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" required minlength="6" />
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label">Repita contraseña</label>
                    <input type="password" name=passwordConfirm class="form-control" id="inputPasswordConfirm" placeholder="Password" autocomplete="off" required minlength="6" />
                </div>
                <div class="form-group text-right">
                    <input class="btn btn-success  " type="submit" value="Guardar" name="accion"/>
                </div>
        </form>
    </div>
{% endblock %}