{% extends 'layout.html.twig' %}
{% block titulo %}Usuarios{% endblock %}
{% block body %}
    <div class="container">
        <h4 class="text-center">
            Usuarios
        </h4>
        <form id="formulario-filtro" method="POST" class="form" action="{{ url('usuario_listado') }}">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input class="form-control" type="text" name="nombre" value="{{ nombre }}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido</label>
                <input class="form-control" type="text" name="apellido" value="{{ apellido }}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="email" name="email" value="{{ email }}"/>
            </div>
            <div class="form-group text-right">
                <a href="{{ path('usuario_nuevo') }}" class="btn btn-success">Nuevo</a>
                <button class="btn btn-primary " type="submit">Buscar</button>
            </div>
        </form>
        {% include "usuario/listado.html.twig" %}
    </div>
{% endblock  %}