<div id="listado" class="table-responsive">
    {% if usuarios is not empty %}
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th >Nombre</th>
                <th >Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th class="text-right">
                    <a href="{{ url('usuario_nuevo') }}" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Nuevo"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios  %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.roles[0] }}</td>
                    <td class="text-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('usuario_editar', { 'id': usuario.id }) }}"
                               class="btn btn-sm btn-link " data-toggle="tooltip" data-placement="left" title="Editar">
                                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <div class="pd20">
                No se encontraron registros
            </div>
        {% endif %}
    </table>
</div>
{{ knp_pagination_render(usuarios) }}