{% extends "layout.html.twig" %}
{% block body %}
    <div class="bg-white p-5 mb-5 m-auto w-auto">
        <h4 class="mb-4 text-center">Ingreso</h4>

        {% if error %}
            <p class="login-box-msg">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" name="email" value="{{ last_username }}" required autofocus>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" required="required" >
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary btn-block"  id="_submit" name="_submit" value="Ingresar" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}