{% extends 'layout.html.twig' %}
{% block body %}
    <div id="app" class="container bg-white">
        <h2 class="mb-4">Autores</h2>
        <form method="get" class="mt-5">
            {% set search = app.request.get('search') | default('') %}
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" name="search" value="{{ search }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </div>
            <nav class="mt-5 mb-5">
                <ul class="pagination clearfix d-block">
                    <li class="page-autor float-left">
                        <a class="page-link" href="{{path('autor_listado')}}" tabindex="-1">Todos</a>
                    </li>
                    <li class="page-autor float-left">
                        <a class="page-link" href="{{path('autor_listado',{'search':'0'})}}" tabindex="-1">0-9</a>
                    </li>
                    {% for letra in range('A','Z') %}
                        <li class="page-autor float-left disabled">
                            <a class="page-link" href="{{path('autor_listado',{'search':letra})}}" tabindex="-1">{{ letra }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% set offset = app.request.get('offset') | default(0) %}
            {% set limit = app.request.get('limit') | default(10) %}
            <input type="hidden" name="limit" value="{{ limit }}"/>
            {% if autores %}
                {% for autor in autores %}
                    <div class="card" style="border-bottom:1px solid #eee">
                        <div class="card-body">
                            <a href="{{ path('autor_vista') }}?autor={{ autor.nombre }}">
                                <h5 class="card-title">
                                    {{ autor.nombre }}
                                    <span class="badge badge-pill badge-info">{{ autor.cantidad }}</span>
                                </h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning mt-5 mb-5" role="alert">
                    No se encontraron registros
                </div>
            {% endif %}
            <nav class="mt-5">
                <ul class="pagination justify-content-end">
                    <li class="page-item {% if (offset == 0) %}disabled{% endif %}">
                        <button type="submit" class="page-link" name="offset" value="{{ offset - limit }}">Anterior</button>
                    </li>
                    <li class="page-item {% if ( autores | length < limit) %}disabled{% endif %}">
                        <button type="submit" class="page-link" name="offset" value="{{ offset + limit }}">Siguiente</button>
                    </li>
                </ul>
            </nav>
        </form>
    </div>
{% endblock %}