{% extends 'layout.html.twig' %}

{% block body %}
    <div id="app" class="container bg-white">
        <h2 class="mb-4">{{ app.request.get('autor') | default('') }}</h2>
        <div class="mt-4">
            {% include "item/listado.html.twig" %}
        </div>
    </div>
{% endblock %}
