{% extends 'layout.html.twig' %}
{% block body %}
    <!--<div class="dropdown col-sm-1 dropdown-type">
        <a class="btn btn-lg btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Año
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#"></a>
        </div>
    </div>
    <div class="dropdown col-sm-1 dropdown-type">
        <a class="btn btn-lg btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tipo de artículo
        </a>
        <div class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>-->
    <div class="col-sm-12 mt-5">
        <div class="modulo-comunidad clearfix">
            <h4><small class="mr-2">Explorar</small> <strong>Últimos subidos</strong><a href="{{path('item_listado')}}" class="float-right btn btn-link">ver todos</a></h4>
            {% for item in items %}
                <a href="{{ path('item_vista', {'prefix': item.handle[0], 'suffix': item.handle[1]}) }}" class="box float-left">
                    <h5>{{item.titulo}}</h5>
                        {{ item.descripcion }}
                    <div class="line-shadow"></div>
                    <div class="line-hover"></div>
                </a>
            {% endfor %}
        </div>
        {% for comunidad in comunidades %}
            {% if comunidad.items %}
                <div class="modulo-comunidad clearfix">
                    {% set handle = comunidad.handle | split("/") %}
                    <h4><strong>{{comunidad.name}}</strong>
                        <a href="{{ path('comunidad_vista', {'prefix': handle[0], 'suffix': handle[1]}) }}" class="float-right todos btn btn-link">ver todos</a>
                    </h4>
                    {% for item in comunidad.items %}
                        <a href="{{ path('item_vista', {'prefix': item.handle[0], 'suffix': item.handle[1]}) }}" class="box float-left">
                            <h5>{{item.titulo}}</h5>
                            {{ item.descripcion }}
                            <div class="line-shadow"></div>
                            <div class="line-hover"></div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}