{% extends 'layout.html.twig' %}

{% block body %}
    <div id="app" class="container bg-white">
        {% if coleccion.parentCommunity %}
            {% set handle = coleccion.parentCommunity.handle | split("/") %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('comunidad_vista', {'prefix': handle[0], 'suffix': handle[1]}) }}">{{ coleccion.parentCommunity.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ coleccion.name }}</li>
                </ol>
            </nav>
        {% endif %}
        <h2 class="mb-4">{{ coleccion.name }}</h2>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar en la coleccion" name="search" value="{{ app.request.get('search') | default('') }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="mt-4">
            {% include "item/listado.html.twig" %}
        </div>
    </div>
{% endblock %}
