{% extends 'layout.html.twig' %}

{% block titulo %}Comunidad{% endblock %}
{% block body %}
    <div class="container">
        <form id="app" class="form col" method="post" autocomplete="off">
            <div class="cargando" v-if="loading">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
            <h4 class="text-center">{% if comunidad %}Editar{% else %}Nuevo{% endif %}</h4>
                {% if comunidad %}
                    <input type="hidden" name="uuid" value="{{ comunidad.uuid }}"/>
                {% endif %}
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" v-model="comunidad.name"/>
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" v-model="comunidad.shortDescription"></textarea>
                </div>
                <div class="form-group">
                    <label>Introducción</label>
                    <textarea class="form-control" v-model="comunidad.introductoryText"></textarea>
                </div>
                <div class="form-group">
                    <label>Novedades</label>
                    <textarea class="form-control" v-model="comunidad.sidebarText"></textarea>
                </div>
                <div class="form-group">
                    <label>Copyright</label>
                    <textarea class="form-control" v-model="comunidad.copyrightText"></textarea>
                </div>
                <div class="form-group">
                    <label>Colecciones</label>
                    <ul>
                        <li v-for="coleccion in coleccionesUtilizadas">
                            ${coleccion}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label">Agregar colecciones</label>
                    <v-select
                            :options="coleccionesDisponibles"
                            multiple
                            :close-on-select="false"
                            :clear-search-on-select="true"
                            :searchable="true"
                            label="nombre"
                            :reduce="tipo => tipo.nombre"
                            :clearable="false"
                            v-model="coleccionesNuevas"
                            ref="selectColecciones">
                    </v-select>
                </div>
            <div class="form-group text-right">
                {% if comunidad %}
                    <button type="button" class="btn btn-danger" onclick="confirmarEliminar()">Eliminar</button>
                {% endif %}
                <input class="btn btn-success" type="button" value="Guardar" @click="guardar()"/>
                 <a class="btn btn-default float-left" href="{{ path('comunidad_listado') }}">Listado</a>
            </div>
        </form>
    </div>
    {% if comunidad %}
        <script>
            function confirmarEliminar() {
                bootbox.confirm({
                    message: "Se eliminará el elemento seleccionado. ¿Desea continuar?",
                    buttons: {
                        confirm: {
                            label: 'Si',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            window.location="{{ path('comunidad_eliminar', {'uuid' : comunidad.uuid}) }}";
                        }
                    }
                });
            }
        </script>
        {% endif %}
        <script src="{{ asset('recursos/plugins/vue/vue.js') }}"></script>
        <script src="{{ asset('recursos/plugins/select2/vue-select.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('recursos/plugins/select2/vue-select.css') }}">
        <script>
            Vue.component('v-select', window.VueSelect.VueSelect);

            var app = new Vue({
                el: '#app',
                delimiters: ['${', '}'],
                data: {
                    loading: false,
                    parent: '{% if comunidad and comunidad.parentCommunity %}{{ comunidad.parentCommunity.uuid }}{% elseif app.request.query.get('p') %}{{ app.request.query.get('p') }}{% else %}0{% endif %}',
                    comunidad: {
                        collections: [],
                        name: "",
                        shortDescription: "",
                        introductoryText: "",
                        sidebarText: "",
                        copyrightText: ""
                    },
                    coleccionesNuevas: [],
                    colecciones: {{ colecciones | raw }},
                },
                computed: {
                    coleccionesUtilizadas: function(){
                        var self = this;
                        var coleccionesUtilizadas = [];
                        this.comunidad.collections.forEach( collection => {
                            coleccionesUtilizadas.push(collection.name);
                        });
                        return coleccionesUtilizadas;
                    },
                    coleccionesDisponibles: function(){
                        var self = this;
                        var coleccionesDisponibles = [];
                        this.colecciones.forEach(coleccion => {
                            if (!this.coleccionesUtilizadas.includes(coleccion.nombre)){
                                coleccionesDisponibles.push(coleccion);
                            }
                        });
                        return coleccionesDisponibles;
                    }
                },
                created: function(){
                    {% if comunidad %}
                        this.comunidad = {{ comunidad | json_encode | raw }};
                        this.$forceUpdate();
                    {% endif %}
                },
                methods: {
                    guardar(){

                        var self = this;
                        self.loading = true;
                        $.ajax({
                            type: "POST",
                            url: "{{ path('comunidad_guardar') }}?p="+self.parent,
                            dataType: "json",
                            data: {
                                comunidad: JSON.stringify(self.comunidad),
                                coleccionesNuevas: JSON.stringify(self.coleccionesNuevas)
                            },
                            success: function (data) {

                                self.loading = false;
                                if(data.comunidad && data.mensajeTipo==1){
                                    self.comunidad = data.comunidad;
                                    self.$refs.selectColecciones.clearSelection();
                                    bootbox.alert('Datos guardados correctamente');
                                }

                                self.$forceUpdate();
                            },
                            error: function(){
                                self.loading = false;
                            }
                        });
                    },
                }
            });
        </script>
{% endblock %}
{#{% block javascripts %}#}
    {#<script src="{{ asset('recursos/plugins/vue/vue.js') }}"></script>#}
{#{% endblock %}#}