{% extends 'layout.html.twig' %}

{% block body %}
    {% block boxbody %}
        {% set administrador = 'false' %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set administrador = 'true' %}
        {% endif %}
        {% endif %}
        <div id="app" class=" container bg-white listado-comunidad">
            <h2 class="mb-4">Comunidades y colecciones</h2>
            <comunidad v-for="communidad in treeData"
                    class="comunidades subcomunidad"
                    :item="communidad"
                       :admin="{{administrador}}"
            ></comunidad>
            <div class="col-sm-12 p-3">
                <button class="btn btn-light btn-block" @click="agregarComunidad">Agregar comunidad</button>
            </div>
        </div>
    {% endblock %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('recursos/plugins/vue/vue.js') }}"></script>
    <script>

        // define the tree-item component
        Vue.component('comunidad', {
            delimiters: ['${', '}'],
            template: `<li>
                        <div class="comunidad">
                          <a :href="'{{ path('comunidad_handle')}}?prefix='+prefix+'&suffix='+suffix"><i class="fas fa-angle-right mr-3"></i>\${ item.name }</a>
                            <div class="acciones text-right" v-if="admin">
                                <button class="btn btn-default btn-sm" @click="agregarComunidad"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default btn-sm" @click="editar"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm" @click="eliminar"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <template>
                            <ul>
                              <comunidad class="subcomunidad" v-for="(comunidad, index) in item.community" :key="index" :item="comunidad" :admin="admin"></comunidad>
                            </ul>
                            <ul>
                                <coleccion :item="coleccion" v-for="(coleccion, index) in item.collection" :key="index"></coleccion>
                            </ul>
                        </template>
                      </li>`,
            props: [
                'item',
                'admin'
            ],
            created: function(){
            },
            data: function () {
                return {
                }
            },
            computed: {
                esComunidad: function () {
                    return this.item.collection
                },
                prefix: function(){
                    if (this.item.handle){
                        return this.item.handle.split('/')[0];
                    }else{
                        return 0;
                    }
                },
                suffix: function(){
                    if (this.item.handle){
                        return this.item.handle.split('/')[1];
                    }else{
                        return 0;
                    }
                },
            },
            methods: {
                agregarComunidad: function(){
                    window.location.href = "{{ path('comunidad_nuevo') }}?p="+this.item.id;
                },
                editar: function(){
                    window.location.href = "{{ path('comunidad_editar') }}?id="+this.item.id;
                },
                eliminar: function(){
                    var self = this;
                    bootbox.confirm({
                        message: "Se eliminará el elemento seleccionado. ¿Desea continuar?",
                        buttons: {
                            confirm: {
                                label: 'Si',
                                className: 'btn-success btn-flat'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger btn-flat'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                window.location="{{ path('comunidad_eliminar')}}?id="+self.item.id;
                            }
                        }
                    });
                },
            }
        })

        Vue.component('coleccion', {
            delimiters: ['${', '}'],
            template: `<li class="coleccion">
                            <a :href="'{{ path('coleccion_handle') }}?prefix='+prefix+'&suffix='+suffix">\${item.name}</a>
                            <div class="acciones pull-right">
                            </div>
                       </li>`,
            props: {
                item: Object
            },
            computed: {
                prefix: function(){
                    if (this.item && this.item.handle){
                        return this.item.handle.split('/')[0];
                    }else{
                        return 0;
                    }
                },
                suffix: function(){
                    if (this.item && this.item.handle){
                        return this.item.handle.split('/')[1];
                    }else{
                        return 0;
                    }
                },
            },
            created: function(){
                console.log(this.item);
            },
            data: function () {
                return {
                }
            },
            methods: {
            }
        })

        // boot up the demo
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                treeData: {{ comunidades | json_encode | raw }}
            },
            methods: {
                agregarComunidad: function(){
                    window.location.href = "{{ path('comunidad_nuevo') }}";
                },
            },
            created: function(){
            }
        })

    </script>
{% endblock %}
