{% extends 'layout.html.twig' %}

{% block body %}
    <div id="app" class="container bg-white">
        {% if comunidad.parentCommunity %}
            {% set handle = comunidad.parentCommunity.handle | split("/") %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('comunidad_vista', {'prefix': handle[0], 'suffix': handle[1]}) }}">{{ comunidad.parentCommunity.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ comunidad.name }}</li>
                </ol>
            </nav>
        {% endif %}
        <h2 class="mb-4">{{ comunidad.name }}</h2>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar en la comunidad" name="search" value="{{ app.request.get('search') | default('') }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        {% if (comunidad.subcommunities) %}
            <h5 class="mt-4">Subcomunidades</h5>
            <ul class="list-group">
                {% for subcom in comunidad.subcommunities %}
                    {% set handle = subcom.handle | split("/") %}
                    <a  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        href="{{ path('comunidad_vista', {'prefix': handle[0], 'suffix': handle[1]}) }}"
                    >
                        {{ subcom.name }}
                        <span class="badge badge-primary badge-pill">{{ subcom.countItems }}</span>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
        {% if (comunidad.collections) %}
            <h5 class="mt-4">Colecciones</h5>
            <ul class="list-group">
                {% for coleccion in comunidad.collections %}
                    {% set handle = coleccion.handle | split("/") %}
                    <a  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        href="{{ path('coleccion_vista', {'prefix': handle[0], 'suffix': handle[1]}) }}"
                    >
                        {{ coleccion.name }}
                        <span class="badge badge-primary badge-pill">{{ coleccion.numberItems }}</span>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="mt-4">
            {% include "item/listado.html.twig" %}
        </div>
    </div>
{% endblock %}
