<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RIAAFICH</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('recursos/bootstrap/4/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('recursos/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('recursos/css/ionicons.min.css') }}">

    <!-- Custom styles for this template -->
    <link href="{{ asset('recursos/css/portada.css') }}" rel="stylesheet">
    <script src="{{ asset('recursos/plugins/jQuery/jquery-3.2.1.min.js') }}" ></script>
    <script src="{{ asset('recursos/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('recursos/plugins/select2/i18n/es.js') }}"></script>
    <script src="{{ asset('recursos/plugins/popper/popper.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('recursos/plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('recursos/plugins/select2/select2-bootstrap4.min.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<nav class="navbar principal navbar-dark bg-dark flex-md-nowrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 left">
                <a class="navbar-brand" href="{{ path('index') }}">
                    <img src="{{ asset('recursos/img/fich.svg') }}"/>
                </a>
            </div>
            <div class="col-md-4 center text-right d-none d-md-block">
                <form action="{{ path('item_listado') }}">
                    <div class="input-group input-search input-group-lg">
                        <div class="input-group-prepend">
                            <i class="fa fa-search"></i>
                        </div>
                        <input type="text" class="form-control" name="search" placeholder="BUSCAR">
                    </div>
                </form>
            </div>
            <div class="col-md-4 right text-right d-none d-md-block">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('configuracion_abm') }}" class="dropdown-item"><i class="fa fa-cogs mr-3"></i> Configuración</a>
                            <a href="{{ path('comunidad_listado') }}" class="dropdown-item"><i class="fa fa-cogs mr-3"></i> Administrar comunidades</a>
                            <a href="{{ path('usuario_listado') }}" class="dropdown-item"><i class="fas fa-users-cog mr-3"></i> Usuarios</a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{ app.user.username }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('usuario_cambiar_clave') }}" class="dropdown-item"><i class="fa fa-key mr-3"></i> Cambiar clave</a>
                            <a href="{{ path('app_logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt mr-3"></i> Cerrar sesión</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-user"></i> Ingresar</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<nav class="navbar subnavbar navbar-expand-md">
    <div class="container-fluid w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnavbarNav" aria-controls="subnavbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="subnavbarNav">
            <div class="row">
            <div class="col-md-6">
                <ul class="navbar-nav">
                    <li class="nav-item {% if path('index') == app.request.pathinfo %}active{% endif %}">
                        <a class="nav-link" href="{{ path('index') }}">PORTADA</a>
                    </li>
                    <li class="nav-item {% if path('comunidad_listado') == app.request.pathinfo %}active{% endif %}">
                        <a class="nav-link" href="{{ path('comunidad_listado') }}">COMUNIDADES</a>
                    </li>
                    <li class="nav-item {% if path('autor_listado') == app.request.pathinfo %}active{% endif %}">
                        <a class="nav-link" href="{{ path('autor_listado') }}">AUTORES</a>
                    </li>
                    <li class="nav-item {% if path('item_listado') == app.request.pathinfo %}active{% endif %}">
                        <a class="nav-link" href="{{ path('item_listado') }}">ARTÍCULOS</a>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item d-block d-md-none">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConfiguracion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog"></i> Configuración
                                </a>
                                <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownConfiguracion">
                                    <a href="{{ path('configuracion_abm') }}" class="dropdown-item"><i class="fa fa-cogs mr-3"></i> Configuración</a>
                                    <a href="{{ path('comunidad_listado') }}" class="dropdown-item"><i class="fa fa-cogs mr-3"></i> Administrar comunidades</a>
                                    <a href="{{ path('usuario_listado') }}" class="dropdown-item"><i class="fas fa-users-cog mr-3"></i> Usuarios</a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item d-block d-md-none">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsuario" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownUsuario">
                                <a href="{{ path('usuario_cambiar_clave') }}" class="dropdown-item"><i class="fa fa-key mr-3"></i> Cambiar clave</a>
                                <a href="{{ path('app_logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt mr-3"></i> Cerrar sesión</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item d-block d-md-none">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-user"></i> Ingresar</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0 d-block d-md-none" action="{{ path('item_listado') }}" method="get">
                    <div class="input-group">
                        <input class="form-control" type="search" name="search" placeholder="BUSCAR" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-right">
                <ul class="navbar-nav justify-content-end">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item {% if path('item_nuevo') == app.request.pathinfo %}active{% endif %}">
                            <a class="nav-link" href="{{ path('item_nuevo') }}">SUBIR MATERIAL</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </div>
    </div>
</nav>
{% for type, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ type }} m-0">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
<div class="container-fluid pb-5 pt-4 body">
    <div class="row">
        {% block body %}{% endblock %}
        <!--<div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="col-sm-12 cuerpo">
                    <h5 class="card-title">{% block subtitulo %}{% endblock %}</h5>

                </div>
              </div>
              </div>

            </div>
          </div>-->

    </div>
</div>
<footer class="footer w-100">
    <h6>Repositorio FICH UNL</h6>
    <a href="{{ dspace_url }}/feed/rss_1.0/site" target="_blank"><i class="fas fa-rss-square"></i> <strong>RSS 1.0</strong></a>
    <span class="ml-1 mr-1">·</span>
    <a href="{{ dspace_url }}/feed/rss_2.0/site" target="_blank"><i class="fas fa-rss-square"></i> <strong>RSS 2.0</strong></a>
    <span class="ml-1 mr-1">·</span>
    <a href="{{ dspace_url }}/feed/atom_1.0/site" target="_blank"><i class="fas fa-rss-square"></i> <strong>Atom</strong></a>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('recursos/bootstrap/4/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('recursos/plugins/fastclick/fastclick.min.js') }}"></script>
<script src="{{ asset('recursos/plugins/bootbox/bootbox.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
