{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h4 class="text-center">Configuración</h4>
        <form class="form" method="POST" action="{{ path('configuracion_abm') }}">
                    {% for configuracion in Configuraciones %}
                        <div class="form-group">
                            <label class="control-label">{{ configuracion.nombre | capitalize }}</label>
                            <textarea rows="20" class="form-control" required name="{{ configuracion.id }}">{{ configuracion.valor }}</textarea>
                        </div>
                    {% endfor %}
            <div class="form-group text-right">
                <input class="btn btn-success" type="submit" value="Guardar" />

            </div>
        </form>
    </div>
{% endblock %}
