.navbar-nav > li > .dropdown > a {
  padding: 8px; }
  .navbar-nav > li > .dropdown > a:hover {
    background-color: #eee; }
.navbar-nav > li > .dropdown.drp-user .dropdown-menu {
  padding: 0;
  min-width: 290px; }
  .navbar-nav > li > .dropdown.drp-user .dropdown-menu .pro-head {
    background-color: #04a9f5;
    color: #fff;
    font-size: 10px;
    padding: 15px; }
    .navbar-nav > li > .dropdown.drp-user .dropdown-menu .pro-head img {
      width: 40px;
      margin-right: 10px; }
  .navbar-nav > li > .dropdown.drp-user .dropdown-menu .pro-body {
    padding: 0; }
    .navbar-nav > li > .dropdown.drp-user .dropdown-menu .pro-body li {
      list-style: none; }
      .navbar-nav > li > .dropdown.drp-user .dropdown-menu .pro-body li a {
        padding: 15px 15px; }
        .navbar-nav > li > .dropdown.drp-user .dropdown-menu .pro-body li a i {
          margin-right: 10px; }

.drive-wrapper {
  padding: 15px;
  background: #f5f5f5;
  overflow: hidden; }
  .drive-wrapper .drive-item {
    width: 130px;
    margin-right: 15px;
    display: inline-block;
    float: left; }
    .drive-wrapper .drive-item:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      z-index: 1; }
  .drive-wrapper .drive-item-inner {
    padding: 15px; }
  .drive-wrapper .drive-item-title {
    margin-bottom: 15px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .drive-wrapper .drive-item-title a {
      color: #494d55; }
      .drive-wrapper .drive-item-title a:hover {
        color: #40babd; }
  .drive-wrapper .drive-item-thumb {
    width: 100px;
    height: 80px;
    margin: 0 auto;
    color: #616670; }
    .drive-wrapper .drive-item-thumb a {
      -webkit-opacity: .8;
      -moz-opacity: .8;
      opacity: .8; }
      .drive-wrapper .drive-item-thumb a:hover {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1; }
      .drive-wrapper .drive-item-thumb a img {
        max-width: 100%;
        max-height: 100%; }
    .drive-wrapper .drive-item-thumb .fa {
      display: inline-block;
      font-size: 36px;
      margin: 0 auto;
      margin-top: 20px; }
  .drive-wrapper .drive-item-footer .utilities {
    margin-bottom: 0; }
    .drive-wrapper .drive-item-footer .utilities li:last-child {
      padding-right: 0; }

.module {
  border: 1px solid #f3f3f3;
  border-bottom-width: 2px;
  background: #fff;
  margin-bottom: 30px;
  position: relative;
  border-radius: 4px;
  background-clip: padding-box; }
  .module .module-footer {
    background: #fff;
    border-top: 1px solid #f3f3f7;
    padding: 15px; }
    .module .module-footer a {
      color: #9499a3; }

#app.listado-comunidad .comunidades {
  margin: 20px; }
  #app.listado-comunidad .comunidades .acciones {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.25s ease; }
  #app.listado-comunidad .comunidades .comunidad {
    font-weight: bold;
    transition: background-color 0.25s ease;
    padding: 10px 0 10px 10px; }
    #app.listado-comunidad .comunidades .comunidad:hover {
      background-color: #f1f1f1; }
      #app.listado-comunidad .comunidades .comunidad:hover .acciones {
        opacity: 1; }
  #app.listado-comunidad .comunidades .coleccion {
    transition: background-color 0.25s ease;
    padding: 10px 0 10px 10px; }
    #app.listado-comunidad .comunidades .coleccion:hover {
      background-color: #f1f1f1; }
      #app.listado-comunidad .comunidades .coleccion:hover .acciones {
        opacity: 1; }
#app.listado-comunidad li {
  list-style-type: none;
  margin-left: 20px; }
#app.listado-comunidad ul {
  list-style-type: none;
  margin-left: 20px;
  border-left: 3px solid #eee;
  padding: 0;
  margin-bottom: 0; }

/*# sourceMappingURL=app.css.map */
