.navbar-nav{
    > li > .dropdown{
        >a{
            padding: 8px;
            &:hover{
                background-color: #eee;
            }
        }
        &.drp-user{
            .dropdown-menu{
                padding:0;
                min-width: 290px;
                .pro-head{
                    background-color:#04a9f5;
                    color: #fff;
                    font-size: 10px;
                    padding: 15px;
                    img{
                        width: 40px;
                        margin-right: 10px;
                    }
                }
                .pro-body{
                    padding:0;
                    li{
                        list-style: none;
                        a{
                            padding: 15px 15px;
                            i{
                                margin-right:10px;
                            }
                        }
                    }
                }

            }
        }
    }
}


$color_1: #494d55;
$color_2: #40babd;
$color_3: #6dbd63;
$color_4: #497cb1;
$color_5: #ec6952;
$color_6: #616670;
$color_7: #a2a6af;
$color_8: #9499a3;

.drive-wrapper {
    padding: 15px;
    background: #f5f5f5;
    overflow: hidden;
    .drive-item {
        width: 130px;
        margin-right: 15px;
        display: inline-block;
        float: left;
        &:hover {
            box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
            z-index: 1;
        }
    }
    .drive-item-inner {
        padding: 15px;
    }
    .drive-item-title {
        margin-bottom: 15px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
            color: $color_1;
            &:hover {
                color: $color_2;
            }
        }
    }
    .drive-item-thumb {
        width: 100px;
        height: 80px;
        margin: 0 auto;
        color: $color_6;
        a {
            -webkit-opacity: .8;
            -moz-opacity: .8;
            opacity: .8;
            &:hover {
                -webkit-opacity: 1;
                -moz-opacity: 1;
                opacity: 1;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .fa {
            display: inline-block;
            font-size: 36px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .drive-item-footer {
        .utilities {
            margin-bottom: 0;
            li {
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.module {
    border: 1px solid #f3f3f3;
    border-bottom-width: 2px;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
    border-radius: 4px;
    background-clip: padding-box;
    .module-footer {
        background: #fff;
        border-top: 1px solid #f3f3f7;
        padding: 15px;
        a {
            color: $color_8;
        }
    }
}


$background_color_1: #f1f1f1;

#app.listado-comunidad {
    .comunidades {
        margin: 20px;
        .acciones {
            margin-right: 10px;
            opacity: 0;
            transition: opacity 0.25s ease;
        }
        .comunidad {
            font-weight: bold;
            transition: background-color 0.25s ease;
            padding: 10px 0 10px 10px;
            &:hover {
                .acciones {
                    opacity: 1;
                }
                background-color: $background_color_1;
            }
        }

        .coleccion {
            &:hover {
                .acciones {
                    opacity: 1;
                }
                background-color: $background_color_1;
            }
            transition: background-color 0.25s ease;
            padding: 10px 0 10px 10px;
        }

    }
    li {
        list-style-type: none;
        margin-left: 20px;
    }
    ul {
        list-style-type: none;
        margin-left: 20px;
        border-left: 3px solid #eee;
        padding: 0;
        margin-bottom: 0;
    }


}

