/*html.wait, html.wait * { cursor: wait !important; }*/
.select2{
    width:100% !important;
}
.mg0{
    margin:0px !important;
}
.pd0{
    padding:0px !important;
}
.pd20{
    padding:20px !important;
}
.pagination{
    margin:10px !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align:middle !important;
}
textarea.form-control{
    max-width:100%;
}
.box.nopadding > .box-body,.box.nopadding > .box-footer{
    padding:0px;
}
.box.nopadding > .box-footer > table,.box.nopadding > .box-body > table,.box.nopadding > .box-body > div> table{
    margin-bottom:0px;
}

.form-control[readonly] {
    background-color: white !important;
}
.form-group.linea-informativa {
    margin-bottom: 0px;
    padding: 7.5px 0px 7.5px 0px;
    border-bottom: 1px solid #ddd;
}
#mensajes>.alert{
    margin-bottom:15px !important;
}
.alert{
    border-radius:0px;
}

.timeline:before{
    left:67px;
}
.timeline>li:first-child{
    margin-top:15px;
}
.timeline>li>.timeline-item{
    margin-left: 130px;
    background-color:#e6e6e6;
}
.timeline>.time-label>span{
    margin-left:18px;
}
.li-crear-nuevo{
    left:18px;
}
.timeline>li>span {
    height: 38px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    text-align: center;
    left: 18px;
    top: 0;
    width:100px;
    border-radius: 3px;
    padding:5px;
}
.dl-horizontal{
    padding: 10px;
    border-bottom: 1px solid;
    margin: 0px;
}
.dl-horizontal>dt{
    text-align:left;
}
.vue-treeselect__control{
    border-radius: 0 !important;
}