@import "../sass/lato";


$color_0: #000;
$color_1: #006CB7;
$color_2: #202340;
$color_3: #f4ffff;
$color_4: #67757c;
$color_5: #202340;
$background_color_1: #0079C1;
$background_color_2: #07033c;
$background_color_3: #fff;
$background_color_4: #06BCE7;
$background_color_5: #f4f6f9;
$background_color_6: #eee;
$fontLight: 300;

body {
    background-color: $background_color_3;
    font-family: "Lato";
    .body{
        min-height:79vh;
    }
    .container {
        padding-top: 15px;
    }
    .cuerpo{
        padding-bottom: 200px;
    }
}
.navbar {
    .container {
        padding: 0px;
    }
    .navbar-brand {
        padding: 0px;
    }
    &.principal {
        padding: 5px 0px;
        background-color: $background_color_1 !important;
        .row {
            width: 100%;
            margin:0;
            .left {
                img {
                    height: 50px;
                    //        max-width: 100px;
                    //margin-right: 15px;
                }
                padding-left:0;
            }

            .center {
                .input-search {

                    border-left: 0.5px solid #fff;
                    border-right: 0.5px solid #fff;

                    .input-group-prepend {
                        padding: 0 20px;

                        .fa {
                            font-size: 25px;
                            margin: auto;
                            color: #fff;
                        }
                    }

                    input {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        color: #fff;
                        background: transparent;

                        &::placeholder {
                            font-weight:$fontLight;
                            color: #fff;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .right{
                padding-right:0px;
                a.nav-link{
                    color: $color_3;
                    padding: 0.8rem 1rem;
                }
                .btn-group{
                    .btn{
                        padding: 0;
                        color: $color_3;
                        text-decoration: none;
                    }
                    padding: 0.75rem 1rem;
                }
            }
        }
    }
    &.subnavbar {
        padding:0;
        border:0;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        background: $background_color_2;
        .navbar-toggler{
            padding: 15px;
            color: #fff;
        }
        .container-fluid{
            margin:0;
            padding:0;
            .collapse{
                .row{
                    margin:0;
                    padding:0;
                    width: 100%;
                }
            }
        }
        .nav-item{
            border-bottom: 5px solid $background_color_2;
            a{
                color: $color_3;
                font-weight:$fontLight;
            }
            &.active{
                border-bottom: 5px solid $background_color_4;
            }
            &:hover{
                transition: border-width 0.1s linear;
                border-bottom: 5px solid $background_color_4;
            }
            margin: 15px 15px 0 15px;
            &:first-child{
                margin-left:0;
            }
            &:last-child{
                margin-right:0;
            }
            .nav-link{
                padding: .5rem 0;
            }
        }
    }
}

.dropdown-type{
    a{
        color: $color_0;
        font-weight:$fontLight;
        background-color: transparent;
        border: 0;
        &:focus{
            text-decoration: none;
            box-shadow: unset;
            border: 0;
            border-radius: 0;
        }
        &:hover{
            text-decoration: none;
            box-shadow: unset;
            border: 0;
            border-radius: 0;
        }
    }
}
.dropdown-menu{
    &.dropdown-scroll{
        max-height: 400px;
        overflow-y: scroll;
    }
}
a.file{
    .drive-item{
        border:1px solid $background_color_1;
        padding: 10px;
        margin: 10px 0;
        &:hover{
            box-shadow: #eee;
            box-shadow: 0px 0px 5px 0px;
        }
    }
    &:hover{
        text-decoration: none;
    }
}
.modulo-comunidad{
    h4{
        font-size: 1.15rem;
        margin-bottom:15px;
        &::after{
            content: '  |';
            color: $background_color_4;
        }
        .todos{
            color: $color_1;
        }
    }
    .box{
        height: 0;
        padding: 20px 20px 10% 20px;
        width: calc(100% / 6 - 5px);
        overflow: hidden;
        background-color: $color_2;
        color: $color_3;
        font-weight: $fontLight;
        margin: 2.5px;
        font-size: 0.75rem;
        line-height: 1;
        position: relative;
        &:nth-child(2){
            margin-left:0;
        }
        @media (max-width: 768px) {
            width: calc(100%);
            margin: 5px 0;
            padding: 20px 20px 30% 20px;
        }
        @media (max-width: 992px) {
            width: calc(100% / 3 - 5px);
            padding: 20px 20px 20% 20px;
            margin: 2.5px;
        }
        h5{
            color: #fff;
            text-align: center;
            font-size: 1rem;
            margin:10px 0 15px 0;
        }
        .line-shadow{
            -webkit-box-shadow: inset 0px -15px 10px 0px white;
            -moz-box-shadow: inset 0px -15px 10px 0px white;
            box-shadow: inset 0px -20px 13px 0px #202340;
            height: 200px;
            width: calc(100% + 100px);
            z-index: 98;
            position: absolute;
            bottom: 0;
            left: -50px;
        }
        .line-hover{
            height: 8px;
            background-color: $background_color_4;
            position: absolute;
            width: 70%;
            bottom: 0;
            left: calc(15%);
            display: none;
            z-index: 99;
        }
        &:hover{
            text-decoration: none;
            .line-hover{
                display: block;
            }
        }
    }
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color_0;
}
.page-titles {
    padding: 10px 0px;
    h3 {
        color: $color_1;
        margin: 0px;
    }
    .breadcrumb {
        padding: 0px;
        margin-bottom: 0px;
        background: transparent;
        font-size: 14px;
        float: right;
    }
}
.sidebar {
    padding: 0px;
    background-color: $background_color_3;
    .nav-item {
        border-bottom: 1px solid #f4f6f9;
        transition: all 0.25s;
        a {
            color: $color_3;
        }
        &:hover {
            background-color: $background_color_5;
            border-left: 3px solid #0079C1;
            transition: all 0.25s;
        }
        &:visited {
            background-color: $background_color_6;
        }
    }
}
.sidebar-heading {
    background-color: $background_color_4;
    padding: 15px 0px;
    border-left: 3px solid #0079C1;
    color: $color_2;
    margin: 0px;
}
.card {
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.footer {
    bottom: 0;
    color: $color_4;
    left: 0px;
    padding: 17px 15px;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #ffffff;
    text-align: center;
    a{
        color:#0079C1;
    }
}

.listado-comunidad {
    .comunidades {
        .acciones {
            margin-right: 10px;
            opacity: 0;
            transition: opacity 0.25s ease;
            position: absolute;
            right: 0;
            top:7px;
        }
        .comunidad {
            position:relative;
            font-weight: bold;
            transition: background-color 0.25s ease;
            padding: 10px 0 10px 10px;
            &>a{
                color: #07033c;
            }
            &:hover {
                color: #07033c;
                .acciones {
                    opacity: 1;
                }
                background-color: $background_color_5;
            }
        }

        .coleccion {
            &>a{
                color: #0079C1;
            }
            &:hover {
                .acciones {
                    opacity: 1;
                }
                background-color: $background_color_5;
            }
            transition: background-color 0.25s ease;
            padding: 10px 0 10px 10px;
        }

    }
    li {
        list-style-type: none;
        margin-left: 20px;
    }
    ul {
        list-style-type: none;
        margin-left: 20px;
        border-left: 3px solid #eee;
        padding: 0;
        margin-bottom: 0;
    }
}
#app{
    position: relative;
    .cargando{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.6);
        z-index: 20;
        transition: all;
        .fa-spin{
            position: fixed;
            top: 50%;
            left: 50%
        }
    }
}
