/* BEGIN Hairline */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Hairline/Lato-Hairline.eot?v=1.0.0");
  src: url("../fonts/Hairline/Lato-Hairline.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/Hairline/Lato-Hairline.woff2?v=1.0.0") format("woff2"), url("../fonts/Hairline/Lato-Hairline.woff?v=1.0.0") format("woff"), url("../fonts/Hairline/Lato-Hairline.ttf?v=1.0.0") format("truetype"), url("../fonts/Hairline/Lato-Hairline.svg?v=1.0.0#LatoHairline") format("svg");
  font-weight: 100;
  font-style: normal;
}
/* END Hairline */
/* BEGIN Hairline Italic */
@font-face {
  font-family: "Lato";
  src: url("../fonts/HairlineItalic/Lato-HairlineItalic.eot?v=1.0.0");
  src: url("../fonts/HairlineItalic/Lato-HairlineItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/HairlineItalic/Lato-HairlineItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/HairlineItalic/Lato-HairlineItalic.woff?v=1.0.0") format("woff"), url("../fonts/HairlineItalic/Lato-HairlineItalic.ttf?v=1.0.0") format("truetype"), url("../fonts/HairlineItalic/Lato-HairlineItalic.svg?v=1.0.0#LatoHairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}
/* END Hairline Italic */
/* BEGIN Light */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Light/Lato-Light.eot?v=1.0.0");
  src: url("../fonts/Light/Lato-Light.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/Light/Lato-Light.woff2?v=1.0.0") format("woff2"), url("../fonts/Light/Lato-Light.woff?v=1.0.0") format("woff"), url("../fonts/Light/Lato-Light.ttf?v=1.0.0") format("truetype"), url("../fonts/Light/Lato-Light.svg?v=1.0.0#LatoLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LightItalic/Lato-LightItalic.eot?v=1.0.0");
  src: url("../fonts/LightItalic/Lato-LightItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/LightItalic/Lato-LightItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/LightItalic/Lato-LightItalic.woff?v=1.0.0") format("woff"), url("../fonts/LightItalic/Lato-LightItalic.ttf?v=1.0.0") format("truetype"), url("../fonts/LightItalic/Lato-LightItalic.svg?v=1.0.0#LatoLightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Regular/Lato-Regular.eot?v=1.0.0");
  src: url("../fonts/Regular/Lato-Regular.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/Regular/Lato-Regular.woff2?v=1.0.0") format("woff2"), url("../fonts/Regular/Lato-Regular.woff?v=1.0.0") format("woff"), url("../fonts/Regular/Lato-Regular.ttf?v=1.0.0") format("truetype"), url("../fonts/Regular/Lato-Regular.svg?v=1.0.0#LatoRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Italic/Lato-Italic.eot?v=1.0.0");
  src: url("../fonts/Italic/Lato-Italic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/Italic/Lato-Italic.woff2?v=1.0.0") format("woff2"), url("../fonts/Italic/Lato-Italic.woff?v=1.0.0") format("woff"), url("../fonts/Italic/Lato-Italic.ttf?v=1.0.0") format("truetype"), url("../fonts/Italic/Lato-Italic.svg?v=1.0.0#LatoItalic") format("svg");
  font-weight: 400;
  font-style: italic;
}
/* END Italic */
/* BEGIN Bold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Bold/Lato-Bold.eot?v=1.0.0");
  src: url("../fonts/Bold/Lato-Bold.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/Bold/Lato-Bold.woff2?v=1.0.0") format("woff2"), url("../fonts/Bold/Lato-Bold.woff?v=1.0.0") format("woff"), url("../fonts/Bold/Lato-Bold.ttf?v=1.0.0") format("truetype"), url("../fonts/Bold/Lato-Bold.svg?v=1.0.0#LatoBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: "Lato";
  src: url("../fonts/BoldItalic/Lato-BoldItalic.eot?v=1.0.0");
  src: url("../fonts/BoldItalic/Lato-BoldItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/BoldItalic/Lato-BoldItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/BoldItalic/Lato-BoldItalic.woff?v=1.0.0") format("woff"), url("../fonts/BoldItalic/Lato-BoldItalic.ttf?v=1.0.0") format("truetype"), url("../fonts/BoldItalic/Lato-BoldItalic.svg?v=1.0.0#LatoBoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Black/Lato-Black.eot?v=1.0.0");
  src: url("../fonts/Black/Lato-Black.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/Black/Lato-Black.woff2?v=1.0.0") format("woff2"), url("../fonts/Black/Lato-Black.woff?v=1.0.0") format("woff"), url("../fonts/Black/Lato-Black.ttf?v=1.0.0") format("truetype"), url("../fonts/Black/Lato-Black.svg?v=1.0.0#LatoBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: "Lato";
  src: url("../fonts/BlackItalic/Lato-BlackItalic.eot?v=1.0.0");
  src: url("../fonts/BlackItalic/Lato-BlackItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../fonts/BlackItalic/Lato-BlackItalic.woff2?v=1.0.0") format("woff2"), url("../fonts/BlackItalic/Lato-BlackItalic.woff?v=1.0.0") format("woff"), url("../fonts/BlackItalic/Lato-BlackItalic.ttf?v=1.0.0") format("truetype"), url("../fonts/BlackItalic/Lato-BlackItalic.svg?v=1.0.0#LatoBlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* END Black Italic */
body {
  background-color: #fff;
  font-family: "Lato";
}
body .body {
  min-height: 79vh;
}
body .container {
  padding-top: 15px;
}
body .cuerpo {
  padding-bottom: 200px;
}

.navbar .container {
  padding: 0px;
}
.navbar .navbar-brand {
  padding: 0px;
}
.navbar.principal {
  padding: 5px 0px;
  background-color: #0079C1 !important;
}
.navbar.principal .row {
  width: 100%;
  margin: 0;
}
.navbar.principal .row .left {
  padding-left: 0;
}
.navbar.principal .row .left img {
  height: 50px;
}
.navbar.principal .row .center .input-search {
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}
.navbar.principal .row .center .input-search .input-group-prepend {
  padding: 0 20px;
}
.navbar.principal .row .center .input-search .input-group-prepend .fa {
  font-size: 25px;
  margin: auto;
  color: #fff;
}
.navbar.principal .row .center .input-search input {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  background: transparent;
}
.navbar.principal .row .center .input-search input::placeholder {
  font-weight: 300;
  color: #fff;
  opacity: 0.5;
}
.navbar.principal .row .right {
  padding-right: 0px;
}
.navbar.principal .row .right a.nav-link {
  color: #f4ffff;
  padding: 0.8rem 1rem;
}
.navbar.principal .row .right .btn-group {
  padding: 0.75rem 1rem;
}
.navbar.principal .row .right .btn-group .btn {
  padding: 0;
  color: #f4ffff;
  text-decoration: none;
}
.navbar.subnavbar {
  padding: 0;
  border: 0;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  background: #07033c;
}
.navbar.subnavbar .navbar-toggler {
  padding: 15px;
  color: #fff;
}
.navbar.subnavbar .container-fluid {
  margin: 0;
  padding: 0;
}
.navbar.subnavbar .container-fluid .collapse .row {
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar.subnavbar .nav-item {
  border-bottom: 5px solid #07033c;
  margin: 15px 15px 0 15px;
}
.navbar.subnavbar .nav-item a {
  color: #f4ffff;
  font-weight: 300;
}
.navbar.subnavbar .nav-item.active {
  border-bottom: 5px solid #06BCE7;
}
.navbar.subnavbar .nav-item:hover {
  transition: border-width 0.1s linear;
  border-bottom: 5px solid #06BCE7;
}
.navbar.subnavbar .nav-item:first-child {
  margin-left: 0;
}
.navbar.subnavbar .nav-item:last-child {
  margin-right: 0;
}
.navbar.subnavbar .nav-item .nav-link {
  padding: 0.5rem 0;
}

.dropdown-type a {
  color: #000;
  font-weight: 300;
  background-color: transparent;
  border: 0;
}
.dropdown-type a:focus {
  text-decoration: none;
  box-shadow: unset;
  border: 0;
  border-radius: 0;
}
.dropdown-type a:hover {
  text-decoration: none;
  box-shadow: unset;
  border: 0;
  border-radius: 0;
}

.dropdown-menu.dropdown-scroll {
  max-height: 400px;
  overflow-y: scroll;
}

a.file .drive-item {
  border: 1px solid #0079C1;
  padding: 10px;
  margin: 10px 0;
}
a.file .drive-item:hover {
  box-shadow: #eee;
  box-shadow: 0px 0px 5px 0px;
}
a.file:hover {
  text-decoration: none;
}

.modulo-comunidad {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}
.modulo-comunidad h4 {
  font-size: 1.15rem;
  margin-bottom: 15px;
}
.modulo-comunidad h4::after {
  content: "  |";
  color: #06BCE7;
}
.modulo-comunidad h4 .todos {
  color: #006CB7;
}
.modulo-comunidad .box {
  height: 0;
  padding: 20px 20px 10% 20px;
  width: calc(100% / 6 - 5px);
  overflow: hidden;
  background-color: #202340;
  color: #f4ffff;
  font-weight: 300;
  margin: 2.5px;
  font-size: 0.75rem;
  line-height: 1;
  position: relative;
}
.modulo-comunidad .box:nth-child(2) {
  margin-left: 0;
}
@media (max-width: 768px) {
  .modulo-comunidad .box {
    width: calc(100%);
    margin: 5px 0;
    padding: 20px 20px 30% 20px;
  }
}
@media (max-width: 992px) {
  .modulo-comunidad .box {
    width: calc(100% / 3 - 5px);
    padding: 20px 20px 20% 20px;
    margin: 2.5px;
  }
}
.modulo-comunidad .box h5 {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 10px 0 15px 0;
}
.modulo-comunidad .box .line-shadow {
  -webkit-box-shadow: inset 0px -15px 10px 0px white;
  -moz-box-shadow: inset 0px -15px 10px 0px white;
  box-shadow: inset 0px -20px 13px 0px #202340;
  height: 200px;
  width: calc(100% + 100px);
  z-index: 98;
  position: absolute;
  bottom: 0;
  left: -50px;
}
.modulo-comunidad .box .line-hover {
  height: 8px;
  background-color: #06BCE7;
  position: absolute;
  width: 70%;
  bottom: 0;
  left: calc(15%);
  display: none;
  z-index: 99;
}
.modulo-comunidad .box:hover {
  text-decoration: none;
}
.modulo-comunidad .box:hover .line-hover {
  display: block;
}

.page-titles {
  padding: 10px 0px;
}
.page-titles h3 {
  color: #006CB7;
  margin: 0px;
}
.page-titles .breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  background: transparent;
  font-size: 14px;
  float: right;
}

.sidebar {
  padding: 0px;
  background-color: #fff;
}
.sidebar .nav-item {
  border-bottom: 1px solid #f4f6f9;
  transition: all 0.25s;
}
.sidebar .nav-item a {
  color: #f4ffff;
}
.sidebar .nav-item:hover {
  background-color: #f4f6f9;
  border-left: 3px solid #0079C1;
  transition: all 0.25s;
}
.sidebar .nav-item:visited {
  background-color: #eee;
}

.sidebar-heading {
  background-color: #06BCE7;
  padding: 15px 0px;
  border-left: 3px solid #0079C1;
  color: #202340;
  margin: 0px;
}

.card {
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer {
  bottom: 0;
  color: #67757c;
  left: 0px;
  padding: 17px 15px;
  right: 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  background: #ffffff;
  text-align: center;
}
.footer a {
  color: #0079C1;
}

.listado-comunidad .comunidades .acciones {
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.25s ease;
  position: absolute;
  right: 0;
  top: 7px;
}
.listado-comunidad .comunidades .comunidad {
  position: relative;
  font-weight: bold;
  transition: background-color 0.25s ease;
  padding: 10px 0 10px 10px;
}
.listado-comunidad .comunidades .comunidad > a {
  color: #07033c;
}
.listado-comunidad .comunidades .comunidad:hover {
  color: #07033c;
  background-color: #f4f6f9;
}
.listado-comunidad .comunidades .comunidad:hover .acciones {
  opacity: 1;
}
.listado-comunidad .comunidades .coleccion {
  transition: background-color 0.25s ease;
  padding: 10px 0 10px 10px;
}
.listado-comunidad .comunidades .coleccion > a {
  color: #0079C1;
}
.listado-comunidad .comunidades .coleccion:hover {
  background-color: #f4f6f9;
}
.listado-comunidad .comunidades .coleccion:hover .acciones {
  opacity: 1;
}
.listado-comunidad li {
  list-style-type: none;
  margin-left: 20px;
}
.listado-comunidad ul {
  list-style-type: none;
  margin-left: 20px;
  border-left: 3px solid #eee;
  padding: 0;
  margin-bottom: 0;
}

#app {
  position: relative;
}
#app .cargando {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 20;
  transition: all;
}
#app .cargando .fa-spin {
  position: fixed;
  top: 50%;
  left: 50%;
}

/*# sourceMappingURL=portada.css.map */
