{% extends 'layout.html.twig' %}

{% block titulo %}Item{% endblock %}
{% block body %}
    {#{{ dump(schemas) }}#}
<style>
    .box .nav-stacked>li.active {
        background-color: #eee !important;
    }
    label.light{
        font-weight: normal;
    }
    textarea{
        min-width:100%;
        width: 100%;
        max-width:100%;
        min-height: 100px;
    }
    .archivo{
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }
    .archivo > .actions{
        position: absolute;
        right: 0;
        bottom: 10px;
    }
</style>
<div id="app" class="container">
    <div class="cargando" v-if="loading">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Campos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <treeselect v-model="campos" :multiple="true" :disable-branch-nodes="true" :show-count="true" :options="schemas" value-format="object" :normalizer="schemasnormalizer"></treeselect>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" @click="agregarDato()" data-dismiss="modal">Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center">Subir material</h4>
    {#<form class="form form-horizontal" method="post" autocomplete="off" enctype="multipart/form-data" action="{{ path('item_guardar') }}">#}
                <h3 class="mb-3 text-primary">Información</h3>
                            <div class="form-group" :class="{'has-warning': findMeta('dc.title')[0].value==''}">
                                <label>Título</label>
                                <input type="text" class="form-control" v-model="findMeta('dc.title')[0].value" placeholder="">
                                <span class="help-block" v-show="findMeta('dc.title')[0].value==''">Debe colocar un título</span>
                            </div>
                            <div class="form-group">
                                <label><template v-if="findMeta('dc.creator').length<2">Autor</template><template v-else>Autores</template></label>
                                <template v-for="(autor, index) in findMeta('dc.creator')">
                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <input type="text" class="form-control" v-model="autor.value" placeholder="Apellido, Nombre">
                                        <div class="input-group-append">
                                            <button type=button class="btn btn-secondary"
                                                    @click="item.metadata.splice(item.metadata.indexOf(autor), 1)"
                                                    v-if="findMeta('dc.creator').length>1">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type=button class="btn btn-secondary"
                                                    @click="addMeta('dc.creator')"
                                                    v-if="index == findMeta('dc.creator').length - 1">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div class="form-group" :class="{'has-warning': findMeta('dc.subject')[0].value==''}">
                                <label>Tema</label>
                                <input type="text" class="form-control" v-model="findMeta('dc.subject')[0].value" placeholder="">
                                <span class="help-block" v-show="findMeta('dc.subject')[0].value==''">Debe colocar un tema</span>
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" v-model="findMeta('dc.description')[0].value"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Filiacion del creador</label>
                                <textarea class="form-control" v-model="findMeta('dc.description')[1].value"></textarea>
                            </div>
                            <div class="form-group" :class="{'has-warning': comunidadSeleccionada==null}" v-if="!item.uuid">
                                <label class="control-label">Comunidad</label>
                                <treeselect v-model="comunidadSeleccionada" no-children-text="Sin colecciones" :multiple="false" :disable-branch-nodes="false" :show-count="true" :options="comunidades" value-format="object" :normalizer="normalizer"></treeselect>
                                <span class="help-block" v-show="comunidadSeleccionada==null">Debe seleccionar una comunidad</span>
                            </div>
                            <div class="form-group" v-if="item.uuid && comunidadSeleccionada!=null">
                                <label class="control-label">Comunidad</label>
                                <span class="form-control-static row col-sm-12"><strong>${ comunidadSeleccionada.name }</strong></span>
                            </div>
                            <div class="form-group" v-if="comunidadSeleccionada!=null">
                                <label class="control-label">Tipo de resultado científico</label>
                                <v-select :options="comunidadSeleccionada.collection" label="name" v-model="item.parentCollection" :clearable="false" :disabled="item.uuid!=null" @input="changeType($event)"></v-select>
                                <span class="help-block" v-show="item.parentCollection==null">Debe seleccionar una colección</span>
                            </div>
                            <div class="form-group">
                                <label><template v-if="findMeta('dc.publisher').length<2">Editor</template><template v-else>Editores</template></label>
                                <template v-for="(editor, index) in findMeta('dc.publisher')">
                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <input type="text" class="form-control" v-model="editor.value" placeholder="">
                                        <div class="input-group-append">
                                            <button type=button class="btn btn-secondary"
                                                    @click="item.metadata.splice(item.metadata.indexOf(editor), 1)"
                                                    v-if="findMeta('dc.publisher').length>1">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type=button class="btn btn-secondary"
                                                    @click="addMeta('dc.publisher')"
                                                    v-if="index == findMeta('dc.publisher').length - 1">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div class="form-group">
                                <label><template v-if="findMeta('dc.contributor').length<2">Colaborador</template><template v-else>Colaboradores</template></label>
                                <template v-for="(colaborador, index) in findMeta('dc.contributor')">
                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <input type="text" class="form-control" v-model="colaborador.value" placeholder="Apellido, Nombre">
                                        <div class="input-group-append">
                                            <button type=button class="btn btn-secondary"
                                                    @click="item.metadata.splice(item.metadata.indexOf(colaborador), 1)"
                                                    v-if="findMeta('dc.contributor').length>1">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type=button class="btn btn-secondary"
                                                    @click="addMeta('dc.contributor')"
                                                    v-if="index == findMeta('dc.contributor').length - 1">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Fecha de publicación</label>
                                <div class="input-group">
                                    <date-picker v-model="findMeta('dc.date')[0].value" :config="datetimeOptions"></date-picker>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Fecha de finalizacion del embargo</label>
                                <div class="input-group">
                                    <date-picker v-model="findMeta('dc.date')[1].value" :config="datetimeOptions"></date-picker>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group" v-if="findMeta('dc.type')[0].value">
                                <label class="control-label">Versión de la publicación</label>
                                <v-select :options="tipos.filter(tipo => tipo.snrd == findMeta('dc.type')[0].value)[0].version" v-model="findMeta('dc.type')[2].value" :clearable="false"></v-select>
                            </div>-->
                            <div class="form-group">
                                <label class="control-label">Nivel de acceso</label>
                                <v-select :options="accesos" :reduce="acceso => acceso.value" :value="findMeta('dc.rights')[0].value" @input="changeMeta('dc.rights',0, $event)" :clearable="false"></v-select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Palabras claves</label>
                                <select2tags class="form-control" v-model="palabras_clave" >
                                </select2tags>
                            </div>
                            <div class="form-group" v-for="(meta, index) in extras">
                                <label class="control-label">${meta.key}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" :name="meta.name" :placeholder="meta.description" v-model="meta.value">
                                    <span class="input-group-append">
                                        <button class="btn btn-secondary" type="button" @click="eliminar(index)"><i class="fa fa-minus"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#myModal">
                                Agregar campo extra
                            </button>

                        <h3 class="mt-3 mb-3 text-primary">Archivos</h3>

                            <subir-archivo v-model="archivos" class="mb-3"></subir-archivo>
                            <div class="col-sm-12">
                                <archivo class="bg-light" v-for="(archivo,index) in item.bitstreams" :archivo="archivo" @eliminar="item.bitstreams.splice(index,1)"></archivo>
                            </div>

                        <h3 class="mt-5 mb-3 text-primary">Licencia</h3>
                            <div class="form-group">
                                <textarea class="form-control" style="height: 400px; background-color: #fff" readonly>{{ licencia.valor }}</textarea>
                            </div>
                            <div class="form-group">
                                <label><input type="checkbox" v-model="concede_licencia" > Conceder licencia</label>
                            </div>
    <div class="form-group text-right">
                <button class="btn btn-danger" @click="eliminarItem()" v-if="item.uuid">Eliminar</button>
                <button class="btn btn-success" :disabled="!formularioValido || loading" @click="guardar">
                    <i class='fa fa-spinner fa-spin ' v-if="loading"></i>
                    Guardar
                </button>
                <!--<input class="btn btn-primary" type="button" value="Continuar" v-else @click="continuar"/>-->
                <a class="btn btn-secondary float-left" href="{{ path('item_listado') }}">Listado</a>
    </div>
    {#</form>#}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('recursos/plugins/datetimepicker/moment-with-locales.min.js')  }}"></script>

    <script type="text/x-template" id="select2-template">
        <select class="form-control select2 select2-dependencia">
            <slot></slot>
        </select>
    </script>
    <script type="text/x-template" id="select2-template-multiple">
        <select class="form-control select2 select2-dependencia" multiple size="20">
            <slot></slot>
        </select>
    </script>
    <script type="text/x-template" id="select2-template-tags">
        <select class="form-control select2 select2-tags" multiple size="20">
            <slot></slot>
        </select>
    </script>

    <script src="{{ asset('recursos/plugins/vue/vue.js') }}"></script>
    <script src="{{ asset('recursos/plugins/select2/vue-select.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('recursos/plugins/select2/vue-select.css') }}">
    <script src="{{ asset('recursos/plugins/dropzone/dropzone.js') }}"></script>
    <script src="{{ asset('recursos/plugins/vue2-dropzone/vue2Dropzone.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('recursos/plugins/vue2-dropzone/vue2Dropzone.min.css') }}">
    <!-- include vue-treeselect & its styles. you can change the version tag to better suit your need. -->
    <link rel="stylesheet" href="{{ asset('recursos/plugins/datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <script src="{{ asset('recursos/plugins/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('recursos/plugins/datetimepicker/vue-bootstrap-datetimepicker@5.js') }}"></script>
    <script src="{{ asset('recursos/plugins/vue-treeselect/vue-treeselect.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('recursos/plugins/vue-treeselect/vue-treeselect.min.css') }}">
    {{ include("item/js.html.twig") }}
{% endblock %}
