{% extends 'layout.html.twig' %}

{% block body %}
    <div id="app" class="container bg-white">
        <h2 class="mb-4">Items</h2>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar" name="search" value="{{ app.request.get('search') | default('') }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        {% include "item/listado.html.twig" %}
    </div>
{% endblock %}