<script>
    Vue.component('v-select', window.VueSelect.VueSelect);
    Vue.component('subir-archivo', {
        delimiters: ['${', '}'],
        props: ['value'],
        data: function(){
            return {
                archivos: this.value,
                dropOptions: {
                    url: "{{ path('item_subir') }}",
                    addRemoveLinks: true,
                    autoProcessQueue: true,
                    dictDefaultMessage: "Arrastre los archivos o haga click para seleccionar"
                },
            }
        },
        template: `<div>
                            <vue-dropzone
                                id="dropzone"
                                ref="dropzone"
                                :options="dropOptions"
                                @vdropzone-removed-file="fileRemoved"
                                v-on:vdropzone-sending="sendingEvent"
                                v-on:vdropzone-success="successEvent"
                                >
                            </vue-dropzone>
                        </div>`,
        components: {
            'vueDropzone': window[ 'vue2Dropzone' ],
        },
        created: function(){
            //this.dropOptions.autoProcessQueue = true;
        },
        methods: {
            fileRemoved(file, error, xhr){
                this.archivos = this.archivos.filter(archivo => archivo.uuid != file.upload.uuid);
                this.$emit('input', this.archivos);
            },
            subirArchivos(){
                this.$refs.dropzone.processQueue();
            },
            sendingEvent (file, xhr, formData) {
                //formData.append('uuid', this.item.uuid);
            },
            successEvent (file, response) {
                var self = this;
                response.archivos.forEach(function(item){
                    item['uuid'] = file.upload.uuid;
                    self.archivos.push(item);
                });
                this.$emit('input', this.archivos);
            },
        },
        watch: {

        }
    });

    Vue.component('archivo', {
        delimiters: ['${', '}'],
        props: ['archivo'],
        data: function(){
            return {

            }
        },
        computed: {
            icono: function(){
                var icono = "fa-file";
                if (this.archivo.mimeType.includes('image')){
                    icono = "fa-file-image";
                }else if(this.archivo.mimeType.includes('pdf')){
                    icono = "fa-file-pdf";
                }
                return icono;
            }
        },
        template: `<div class="archivo clearfix row">
                            <div class="col-sm-2 pd0">
                                <!--<img alt="..." class="img-thumbnail" style="width:100%">-->
                                <a :href="'http://localhost:8082'+archivo.retrieveLink" class="btn">
                                    <div class="img-thumbnail text-center p-2" style="width:100%;">
                                        <i class="far" :class="icono" style="font-size:100px;color: var(--blue)"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <p v-if="archivo.description">\${archivo.description}</p>
                                <p v-else>Sin descripción</p>
                            </div>
                            <div class="actions text-right col-sm-2">
                                <a :href="'http://localhost:8082'+archivo.retrieveLink" class="btn btn-default"><i class="fa fa-download"></i></a>
                                <button class="btn btn-danger" @click="eliminar"><i class="fa fa-trash"></i></button>
                            </div>
                       </div>`
        ,
        created: function(){

        },
        methods: {
            eliminar: function (){
                    var self = this;
                    bootbox.confirm({
                        message: "Se eliminará el elemento seleccionado. ¿Desea continuar?",
                        buttons: {
                            confirm: {
                                label: 'Si',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                                }
                        },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                url: "{{ path('archivo_eliminar') }}/" + self.archivo.uuid,
                                dataType: "json",
                                success: function (data) {
                                    //alerta( data.mensaje, data.mensajeTipo);
                                    bootbox.alert(data.mensaje);
                                    self.$emit('eliminar');
                                    //
                                },
                            });
                        }
                    }
                });
            }
        },
        watch: {
            archivo:{
                handle: function(){
                    this.$emit('input', this.archivo);
                },
                deep: true,
            }
        }
    });

    Vue.component('select2tags', {
        props: ['value'],
        template: '#select2-template-tags',
        mounted: function () {
            var vm = this
            $(this.$el)
                .val(this.value)
                // init select2
                .select2({
                    data: this.options,
                    placeholder: "",
                    allowClear: true,
                    closeOnSelect: false,
                    language: "es",
                    tags: true,
                    theme: "bootstrap4",
                    tokenSeparators: [',', ' ']})
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', $(this).val())
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value)
            },
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    });


    Dropzone.autoDiscover = false;

    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            nuevo: true,
            schemas: {{ schemas | json_encode | raw }},
            //colecciones: {# colecciones | json_encode | raw #},
            comunidades: {{ comunidades | json_encode | raw }},
            comunidadSeleccionada: null,
            solapa: 1,
            accesos:[
                {
                    value: "info:eu-repo/semantics/closedAccess",
                    key: "dc.rights",
                    lenguage: "es_AR",
                    label: "Cerrado"
                },
                {
                    value: "info:eu-repo/semantics/restrictedAccess",
                    key: "dc.rights",
                    lenguage: "es_AR",
                    label: "Restringido"
                },
                {
                    value: "info:eu-repo/semantics/embargoedAccess",
                    key: "dc.rights",
                    lenguage: "es_AR",
                    label: "Embargado"
                },
                {
                    value: "info:eu-repo/semantics/openAccess",
                    key: "dc.rights",
                    lenguage: "es_AR",
                    label: "Abierto"
                }
            ],
            test: {},
            // campos: [{fieldId : '70',name : 'dc.title', element : 'title', qualifier : '', description : 'Title statement/title proper.', parentSchema : '', expand : []}]
            item: {
                type: "item",
                bitstreams: [],
                parentCollection: null,
                archived: true,
                withdrawn: false,
                link: null,
                metadata: [
                    {
                        "key": "dc.title",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.creator",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.subject",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.description",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.description",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.publisher",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.contributor",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.date",
                        "value": "{{ "now"|date("Y-m-d") }}",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.date",
                        "value": "{{ "now"|date("Y-m-d") }}",
                        "language": "es_AR",
                    },
                    {
                        "value": "",
                        "key": "dc.type",
                        "language": "es_AR",
                    },
                    {
                        "value": "",
                        "key": "dc.type",
                        "language": "es_AR",
                    },
                    {
                        "value": "",
                        "key": "dc.type",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.description.abstract",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.description.sponsorship",
                        "value": "",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.language",
                        "value": "spa",
                        "language": "es_AR",
                    },
                    {
                        "key": "dc.language.iso",
                        "value": "es",
                        "language": "es_AR",
                    },
                    {
                        "value": "info:eu-repo/semantics/openAccess",
                        "key": "dc.rights",
                        "language": "es_AR",
                    },
                    {
                    "value": "1",
                    "key": "dc.type",
                    "language": "es_AR",
                    },
                ],
            },
            tipos: {{ tipoColecciones | json_encode | raw }},
            /*extras: [],*/
            archivos: [],
            palabras_clave: [],
            coleccion: null,
            concede_licencia: false,
            campos: [],
            datetimeOptions:{
                locale:'es',
                format: 'YYYY-MM-DD',
                showClear: true,
                showTodayButton: true,
                focusOnShow: true,
                allowInputToggle: true,
            },
            loading: false,
            urlArchivo: "{{ path('obtener_archivo') }}",
        },
        computed: {
            extras: function(){
                var metasconocidos = [
                    'dc.title',
                    'dc.creator',
                    'dc.subject',
                    'dc.publisher',
                    'dc.description',
                    'dc.contributor',
                    'dc.language',
                    'dc.language.iso',
                    'dc.description',
                    'dc.description.provenance',
                    'dc.description.abstract',
                    'dc.date.accessioned',
                    'dc.date.available',
                    'dc.description.sponsorship',
                    'dc.identifier.uri',
                    'dc.rights',
                    'dc.date',
                    'dc.type',
                    'dc.format'];
                return this.item.metadata.filter(meta => !metasconocidos.includes(meta.key));
            },
            formularioValido: function(){
                let valido = true;
                if(this.item.metadata.filter(meta => meta.key == 'dc.title')[0].value==''){
                    valido = false;
                }else if(this.item.parentCollection==null){
                    valido = false;
                }else if (!this.concede_licencia){
                    valido = false;
                }
                return valido;
            }
        },
        created: function(){
            {% if item %}
            this.item = {{ item | json_encode | raw }};
                nuevo = false;
                this.concede_licencia = true;
                this.comunidadSeleccionada = this.item.parentCommunityList[0];
            {% else %}
            //this.agregarAutor();
            //this.agregarTitulo();
            {% endif %}
        },
        mounted: function(){
            /*
            console.log('mounted');
            if(this.item.archivos){
                for (i = 0; i < this.item.archivos.length; i++){
                    var file = { size: this.item.archivos[i].size, name: this.item.archivos[i].nombre, type: this.item.archivos[i].mimeType };
                    this.$refs.myVueDropzone.manuallyAddFile(file, this.item.archivos[i].file);
                }
            }
            */
        },
        methods:{
            findMeta: function(key, index){
                var array = this.item.metadata.filter(meta => meta.key == key);
                if (array.length==0){
                    array.push(
                        {
                        "key": key,
                        "value": "",
                        "language": "es_AR",
                        }
                    )
                }
               return array;

            },
            changeMeta: function(key, index, value){
                var array = this.item.metadata.filter(meta => meta.key == key);
                if (array[index]){
                    array[index].value = value;
                }
            },
            changeType: function(value){
                var tipo = this.tipos.filter(meta => meta.nombre == value.name);
                if (tipo[0]){
                    tipo = tipo[0];
                    var array = this.item.metadata.filter(meta => meta.key == "dc.type");
                    if (array[0]){
                         array[0].value = tipo.snrd;
                    }else{
                        this.addMeta("dc.type", tipo.snrd);
                    }
                    if (array[1]){
                        array[1].value = tipo.openaire;
                    }else{
                        this.addMeta("dc.type", tipo.openaire);
                    }
                    if (array[2]){
                        array[2].value = "";
                    }else{
                        this.addMeta("dc.type", "");
                    }
                }
            },
            schemasnormalizer(node) {
                var label = "";
                if (node.name) {
                    label = node.name;
                }else{
                    label = node.prefix;
                }

                return {
                    id: label,
                    label: label,
                    children: node.metadataFields,
                }
            },
            normalizer(node) {

                if (node.community){
                    let child = [];
                    if (node.community){
                        child = child.concat(node.community);
                    }
                    if (node.collection){
                        //child = child.concat(node.collection);
                    }
                    if (child.length==0) child = undefined;
                    return {
                        id: node.id,
                        label: node.name,
                        children: child,
                    }
                }else{
                    return {
                        id: node.id,
                        label: node.name,
                    }
                }
            },
            agregarDato(){
                var self = this;
                this.campos.forEach(function(element){
                    self.addMeta(element.name);
                });
            },
            addMeta(key,value=""){
                this.item.metadata.push({
                    "key": key,
                    "value": value,
                    "language": "es_AR",
                });
            },
            eliminar(index){
                this.extras.splice(index, 1);
            },
            continuar(){
                if (this.solapa==1){
                    $('li > a[href="#archivos"]').trigger('click');
                    this.solapa=2;
                }else if(this.solapa==2){
                    $('li > a[href="#licencia"]').trigger('click');
                    this.solapa=3;
                }
            },
            guardar(){
                var self = this;
                //console.log('SE GUARDA');

                self.item.metadata = self.item.metadata.filter(meta => meta.key != 'dc.format');
                self.item.bitstreams.forEach(function(bitstream){
                    self.addMeta('dc.format', bitstream.mimeType);
                });
                self.archivos.forEach(function(bitstream){
                    self.addMeta('dc.format', bitstream.tipo);
                });

                self.loading = true;
                $.ajax({
                    type: "POST",
                    url: "{{ path('item_guardar') }}",
                    dataType: "json",
                    data: {
                        item: JSON.stringify(self.item),
                        archivos: JSON.stringify(self.archivos)
                    },
                    success: function (data) {
                        //this.solapa=1;
                        //mensaje = JSON.parse(data.mensaje);

                        self.loading = false;

                        if(data.item && data.item.uuid && self.item.uuid==null){
                            self.item.uuid = data.item.uuid;
                        }

                        //alerta(data.mensaje, data.mensajeTipo);
                        bootbox.alert(data.mensaje);
                    },
                    error: function(){
                        self.loading = false;
                    }
                });
            },
            eliminarItem(){
                var self = this;
                bootbox.confirm({
                    message: "Se eliminará el item. ¿Desea continuar?",
                    buttons: {
                        confirm: {
                            label: 'Si',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                url: "{{ path('item_eliminar') }}?id=" + self.item.uuid,
                                dataType: "json",
                                success: function (data) {
                                    if (data.mensajeTipo==1 || data.mensajeTipo=='success'){
                                        window.location.href="{{ path('item_listado') }}";
                                    }else{
                                        //alerta( data.mensaje, data.mensajeTipo);
                                        bootbox.alert(data.mensaje);
                                    }
                                },
                            });
                        }
                    }
                });
            }
        },
        components: {
            'datePicker': window[ 'VueBootstrapDatetimePicker' ],
            'v-select': window.VueSelect.VueSelect,
            'vueDropzone': window[ 'vue2Dropzone' ],
            'treeselect': VueTreeselect.Treeselect,
        }
    });
</script>