<form method="get">
    {% set search = app.request.get('search') | default('') %}
    {% if search %}
        <input type="hidden" name="search" value="{{ search }}"/>
    {% endif %}
    {% set offset = app.request.get('offset') | default(0) %}
    {% set limit = app.request.get('limit') | default(10) %}
    <input type="hidden" name="limit" value="{{ limit }}"/>
    {% for item in items %}
        {% if item.handle %}
            <div class="card" style="border-bottom:1px solid #eee">
                <div class="card-body row">
                    <div style="width: 80px; color: #e1e1e1">
                        <div class="drive-item module text-center">
                            <div class="drive-item-inner module-inner">
                                <div class="drive-item-thumb">
                                    <i class="fa fa-file fa-5x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: calc(100% - 80px)">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('item_editar',{'id': item.id}) }}" class="btn btn-light float-right"><i class="fa fa-pencil-alt"></i></a>
                        {% endif %}
                        <a href="{{ path('item_vista', {'prefix': item.handle[0], 'suffix': item.handle[1]}) }}">
                            <h5 class="card-title">
                                {{ item.titulo }} ﻿
                            </h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted"><i>{{ item.autores | join('; ')}}</i></h6>
                        <p class="card-text">
                            {{ item.descripcion |slice(0,  150) ~ '...' }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if items | length == 0 %}
        <div class="alert alert-warning" role="alert">
            No se encontraron registros
        </div>
    {% endif %}
    <nav class="mt-5">
        <ul class="pagination justify-content-end">
            <li class="page-item {% if (offset == 0) %}disabled{% endif %}">
                <button type="submit" class="page-link" name="offset" value="{{ offset - limit }}">Anterior</button>
            </li>
            <li class="page-item {% if ( items | length < limit) %}disabled{% endif %}">
                <button type="submit" class="page-link" name="offset" value="{{ offset + limit }}">Siguiente</button>
            </li>
        </ul>
    </nav>
</form>