{% extends 'layout.html.twig' %}
{% block body %}
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for comm in item.comunidades | reverse %}
                        {% set handle = comm.handle | split("/") %}
                        <li class="breadcrumb-item"><a href="{{ path('comunidad_vista', {'prefix': handle[0], 'suffix': handle[1]}) }}">{{ comm.name }}</a></li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{item.coleccion.name}}</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <h3>{{ item.titulo }}</h3>
                    {% if item.tema %}
                        <h6><i>{{ item.tema }}</i></h6>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <p>{{ item.descripcion }}</p>
                </div>
                <div class="col-md-3">
                    {% for archivo in item.archivos %}
                        <a class="file" href="{{ dspace_url }}{{ archivo.retrieveLink }}">
                            <div class="drive-item module text-center">
                                <div class="drive-item-inner module-inner">
                                    <div class="drive-item-thumb">
                                        <i class="fa fa-file-pdf fa-5x"></i>
                                    </div>
                                </div>
                                <div class="drive-item-footer module-footer">
                                    <div class="drive-item-title">{{ archivo.name }}</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="form-group">
                        <label class="col-form-label"><strong>Fecha de publicación</strong></label>
                        <input type="text" readonly class="form-control-plaintext" value="{{ item.fechaPublicacion | date('d/m/Y') }}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"><strong>Autor</strong></label>
                        {% for autor in item.autores%}
                            <input type="text" readonly class="form-control-plaintext" value="{{autor}}">
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="col-form-label"><strong>Colección</strong></label>
                        <a href="#" class="form-control-plaintext">{{item.coleccion.name}}</a>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"><strong>Metadatos</strong></label>
                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modalMetadato">Mostrar el registro completo del ítem</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalMetadato" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Metadatos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <dl class="row">
                                {% for meta in item.metadatos %}
                                <dt class="col-sm-4">{{meta.key}}</dt>
                                <dd class="col-sm-8">{{meta.value}}</dd>
                                {% endfor %}
                            </dl>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
